apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: Deployment
    name: nginx-multi-env
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1

nameSuffix: "-dev"
labels:
- pairs:
    env: dev
